<!DOCTYPE html>
<html lang="en">

<head>
  {{> header }}
  <title>{{siteTitle}} Changelog</title>
</head>

<body>
  {{> header-bar }}
  <div class="content">
    <main class="versions-container">
      <div class="versions-content">
        <h2 class="home-title">Changelog</h2>
        {{#if entries}}
        {{#each entries as |entry|}}
        <div class="changelog-entry">
          <div class="changelog-entry-header">
            <a class="changelog-entry-title" href="/changelog/{{entry.slug}}/">{{entry.title}}</a>
            {{#if entry.tag}}
            <span class="changelog-tag changelog-tag-{{entry.tagClass}}">{{entry.tag}}</span>
            {{/if}}
          </div>
          <span class="changelog-entry-date">{{entry.formattedDate}}</span>
          <div class="changelog-entry-preview">
            {{{entry.preview}}}
          </div>
          <span class="changelog-read-more">Read more &rarr;</span>
        </div>
        {{/each}}
        {{#if hasNextPage}}
        <nav class="changelog-pagination">
          {{#if hasPrevPage}}
          <a class="changelog-pagination-link" href="{{prevPageUrl}}">&larr; Newer</a>
          {{else}}
          <span class="changelog-pagination-link changelog-pagination-disabled">&larr; Newer</span>
          {{/if}}
          <span class="changelog-pagination-info">Page {{currentPage}} of {{totalPages}}</span>
          <a class="changelog-pagination-link" href="{{nextPageUrl}}">Older &rarr;</a>
        </nav>
        {{else}}
        {{#if hasPrevPage}}
        <nav class="changelog-pagination">
          <a class="changelog-pagination-link" href="{{prevPageUrl}}">&larr; Newer</a>
          <span class="changelog-pagination-info">Page {{currentPage}} of {{totalPages}}</span>
          <span class="changelog-pagination-link changelog-pagination-disabled">Older &rarr;</span>
        </nav>
        {{/if}}
        {{/if}}
        {{/if}}
      </div>
    </main>
  </div>
  {{> footer }}
  {{> scripts }}
</body>

</html>
