<!DOCTYPE html>
<html lang="en">

<head>
  {{> header }}
  <title>{{siteTitle}} - {{title}}</title>
  {{{jsonLd}}}
</head>

<body>
{{#if googleTagManager}}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{googleTagManager}}"
height="0" width="0" style="display:none !important;visibility:hidden !important"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{/if}}
  {{> header-bar }}
  <div class="page-dropdown" id="page-dropdown">
    <button class="page-dropdown__toggle" id="page-dropdown-toggle">
      <span class="page-dropdown__title">{{title}}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>
    </button>
    <div class="page-dropdown__list" id="page-dropdown-list">
      {{> sidebar }}
    </div>
  </div>
  <div class="content">
    <aside class="nav-sidebar" id="nav-sidebar">
      {{> sidebar }}
    </aside>
{{> doc }}
  </div>
  {{> footer }}
  {{> scripts }}
</body>

</html>
